<section class="flex flex-col gap-4 w-full h-auto mb-4">
  <!-- Divisor-->
  <mat-divider class=" opacity-50" />
  
  <!-- Lista de Cores-->
    <div class="flex flex-wrap justify-center items-center px-4 gap-4">
       @for (category of categories(); track category.id) {
        <span class="select-none opacity-80 hover:opacity-100 flex items-center justify-center {{categoryBackgroundColors[category.color]}} mt-4 px-4 py-2 rounded-3xl w-[90px] text-white font-semibold">
            {{category.name}}
        </span>
       } 
    </div>
</section>
